/* Style pour la barre de navigation */
nav {
    background-color: rgba(146, 90, 36, 0.8);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(220, 180, 142, 0.8);
}

/* Style pour la barre latérale */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    /* background-color: #f4f4f4;*/
    background-color: rgba(240, 229, 220, 0.8);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    font-family: 'Georgia', serif; /* Ajout de la police Georgia */
    overflow-y: auto; /* Ajout de la propriété pour activer la barre de défilement verticale */
    max-height: calc(100% - 100px);
}

/* Style pour la liste de recettes dans la barre latérale */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    list-style-type: disc; /* Ajout de puces disc */
    margin-left: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover{
    font-style: italic;
}

.sidebar h1 {
    color: rgba(45, 38, 35, 0.8);
}

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgba(244, 237, 230, 0.8);
}

/* Style pour les titres h1 et h2 */
h1, h2 {
    color: #333;
}

/* Style pour la liste non ordonnée */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style pour les liens */
a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Style pour les images */
img {
    max-width: 100%;
    height: auto;
}

/* Style pour les paragraphes */
p {
    margin-bottom: 10px;
}

/* Style pour les listes à puces */
ul {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Style pour les éléments de liste à puces */
li {
    margin-bottom: 5px;
}

/* Style pour les sections de fiche des recettes */
.categorie-container {
    margin-left: 330px; /* Ajustez cette valeur en fonction de la largeur de votre barre latérale */
    padding: 20px;
}

/* Ajoutez une marge en haut pour éviter que le contenu ne soit masqué sous la barre latérale */
.categorie-container h1 {
    margin-top: 60px;
}

/* Style pour les sections de fiche des recettes */
div {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}