body {
    font-family: Arial, sans-serif;
    background-color: rgba(250, 243, 240, 0.7);
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(146, 90, 36, 0.8);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Effet de relief avec box-shadow */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(220, 180, 142, 0.8);
}